nav {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 9995;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    background-color: rgba(255,255,255,1);
}

nav.topfixed {
    background-color: rgba(0,0,0,1);
}

nav .navigation li a {
    color: #000;
    opacity: .8;
}

nav.topfixed .navigation li a {
    color: #fff;
    opacity: .8;
}

nav a {
    display: block;
    cursor: pointer;
    text-transform: lowercase;
}

nav .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.navigation ul {
    font-size: 1em;
    letter-spacing: .05em;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation li a {
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    transition: all .3s ease;
    opacity: .8;
}

.navigation li a:hover {
    color: #000;
    opacity: 1;
}

nav.topfixed .navigation li a:hover {
    color: #fff;
    opacity: 1;
}

.navigation button {
    background: none;
    border: none;
    outline: none;
    display: none; 
}

@media screen and (max-width: 766px) {
    
    nav .navbar {
        align-items: center;
    }
    
    nav.topfixed .navigation li a {
        color: #fff;
    }

    .navigation button {
        position: relative;
        display: block;
        margin: 0;
        z-index: 9999;
    }
    
    .navigation ul {
        background-color: rgba(10,10,10,1);
        position: absolute;
        padding: 50px 30px 30px;
        flex-direction: column;
        right: 0;
        top: 0;
        width: 100%;
        height: auto;
        transform: translateY(-100%);
        transition: all 0.5s;
        opacity:0;
        transition-property: transform;
        transition-duration: .35s;
/*        transition-delay: .2s;*/
        transition-timing-function: ease;
        z-index: 9998;
    }
    
    .navigation.open ul {
        transform: translateX(0);
        opacity:1;
    }
    
    .navigation.open .overlay {
        background-color: rgba(10,10,10, .3);
        display: block;
        position: absolute;
        left:0;
        top:0;
        width:100%;
        min-height: 100vh;
        z-index: 99;
    }
}
